@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lora:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lora:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Irish+Grover&family=Lora:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,200;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@500&family=Lexend:wght@100;500&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,400;1,300&family=Poppins:ital,wght@0,400;1,300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@500&family=Lexend:wght@100;500&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,400;1,300&family=Poppins:ital,wght@0,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: inherit;
}

/* --------------------------------navBar------------------------------------ */

.active:hover{
  color: #000000;

}
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  background-image: linear-gradient(180deg, rgb(44, 29, 29) 0%, rgba(255, 255, 255, 0) 81%);
  z-index: 2;
}

.navmenu a {
  margin-right: 47px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.navmenu {
  height: 50%;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 60px;

}

.logo img {
  height: 90%;
  width: 80%;
}

/* ---------------------------------------Footer---------------------------------------- */

.footer {
  background-image: url(images/image\ 9.png);
  background-size: cover;
  height: 100vh;

}

.footer-background {
  background-color: #070300cc;
  height: 100vh;

}

.footer-menu {
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 110px 0px 110px;
}

.footer-text a,
p {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}



.footer-rights {
  color: #FFF;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

/* ----------------------------------------page menu-------------------------------------------- */

.Menu-page {
  background-image: url(images/imagecoffeemenu.png);
  background-size: cover;
  height: 100vh;
}

.ecriture {
  text-align: center;
}

.ecriture h1 {

  color: #903711;
  padding-top: 50vh;
  font-size: 40px;
  font-family: 'Lora';
  -webkit-text-stroke: 1px #000000;
}

.ecriture p {
  font-family: 'Architects Daughter', cursive;
  color: #000000;
  font-size: 24px;
  padding-top: 50px;
}

.Menu-price {
  background-image: url(images/image\ 6.png);
  background-size: cover;
  height: 100vh;
}

.choices {
  display: flex;
  justify-content: space-between;
  padding: 72px 62px 42px 47px;

}

.Drinks {
  display: flex;
  justify-content: space-between;
  color: #652b0c;
  font-size: 22px;
  font-family: 'Lora', sans-serif;
}

.Drinks li {
  -webkit-text-stroke: 1px #060606;
  font-size: 16px;
  color: #652b0c;
  font-weight: 700;

}

.drink-logo img {
  padding-top: 60px;
  padding-left: 30px;
  height: 100px;
  width: 100px;
}



/* -------------------------------------page locations--------------------------------------- */

.locations-page {
  background-image: url(images/localimg.png);
  background-size: cover;
  height: 100vh;
}

.titlepage {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 9%;
  font-size: 25px;
  font-family: 'Lora', sans-serif;
  -webkit-text-stroke: 2px #903711;
}

.picLocations {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}

.picLocations img:hover {
  transform: scale(1.1);
}

.picLocations div img {
  width: 340px;
  height: 230px;
}

.locations-page p {
  display: flex;
  justify-content: center;
  font-family: 'Lora', sans-serif;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.199);
  width: 50%;
  margin: auto;
  padding: 10px 0 10px 0;
  margin-top: 3%;
}


/* ---------------------------------------page contact----------------------------------------- */
.contact-page {
  background-image: url(images/contactusimage.png);
  background-size: cover;
  height: 100vh;
}

.titlepagecontact {
  display: flex;
  justify-content: center;
  color: #903711;
  padding-top: 10%;
  font-size: 30px;
  font-family: 'Lora', sans-serif;
  -webkit-text-stroke: 1px #000000;
}

.inputs {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.inputbackground {
  background-color: #652b0c36;
  height: 57vh;
  width: 65vh;
  border-radius: 15px;
}

.contact-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;


}


.inputmessage {
  height: 13vh !important;
}

input[type=text],
input[type=tel],
input[type=email] {
  margin-bottom: 8px;
  padding: 0px 12px;
  border: 0px;
  width: 80%;
  height: 7vh;
  font-family: 'Lora';
  font-size: 15px;
  background-color: #ffffffd9;


}

.send-button {
  width: 18vh;
  height: 8vh;
  font-size: 20px;
  border-radius: 10px;
  background-color: #B77E66;
  border: 0px;
  color: #ffffff;
  margin-right: 37vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* -----------------------------------------page home---------------------------------------- */
.homepage1 {
  background-image: url(images/imageHomePage.png);
  background-size: cover;
  height: 100vh;
}

.description {
  padding-left: 6%;
  padding-top: 12%;
}

.description h1 {
  color: #FFF;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;

}

.description p {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.ordernow {
  width: 40vh;
  height: 10vh;
  font-size: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #B77E66;
  border: 0px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  filter: drop-shadow(0px 10px 10px black);
  cursor: pointer;

}

/* about */
.Bartons {
  background-image: url(images/image\ 7.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}

.About {
  padding-right: 10%;
}

.About h1 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  color: #471E22;
  margin-bottom: 34px;
}

.About p {
  margin-bottom: 34px;
  font-family: 'Inter', sans-serif;
  color: #471E22;
  font-size: 19px;
}

.about-button {

  width: 26vh;
  height: 7vh;
  font-size: 14px;
  border-radius: 10px;
  background-color: #B77E66;
  border: 0px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

/* ourhour */
.ourHour {
  background-image: url(images/image\ 4.png);
  background-size: cover;
  width: 100%;
  height: 60vh;
  font-family: 'Irish Grover';
  color: #FFF;

}


.horaire {
  display: flex;
  justify-content: space-evenly;
  height: 50%;


}

.OpeningHours {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;

}

.horaire h1 {

  background-size: 100px;
  background-color: #00000056;
  padding: 15px;
  font-size: 50px;
  font-weight: 300;
  border-radius: 10px;

}

.horaire p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  font-size: 25px;
  font-family: 'Irish Grover';

}

.days {
  padding-top: 9%;
  width: 37%;
}

.jour {

  display: flex;
  justify-content: space-between;
}

/* costumers */
.Costumers {
  background-image: url(images/top-view-bowls-with-coffee-beans-powder\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;



}

.costumers-title {
  padding-top: 15vh;
}

.costumers-title h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Lexend', sans-serif;
  margin-bottom: 15vh;
  color: white;



}

.Icons-costumers {
  display: flex;
  justify-content: space-between;
  padding: 0px 130px 0px 130px;
}

.icone-back {
  background-color: #58311570;
  text-align: center;
  height: 217px;
  width: 51vh;
  padding-top: 43px;
  border-radius: 7px;
  filter: drop-shadow(0px 6px 2px #583115a9);
}

.icone-back h1 {

  color: white;
  font-family: 'Lexend', sans-serif;
}

.icone-back p {
  margin-bottom: 6vh;
  color: white;
  font-family: 'Lexend', sans-serif;
  font-size: 15px;
  font-weight: 100;


}

.icone-back h5 {
  color: #44E183;
  font-family: 'Lexend', sans-serif;
}
/* homeMenu */
.menu{
  background-image: url(images/image\ 6.png);
  background-size: cover;
  height: 100vh;

}
.Home-menu{
  height: 15%;
  padding-top: 6em ;

}
.Home-menu h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #903711;
  -webkit-text-stroke: 1px white;
}
.Home-menu-coffee{
  font-size: 28px;
padding: 15px 0px 0px 106px;
color: #9E5A3D;



}

.Icons{
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.icon{
  text-align: center;
  margin: 0em 3em 0em 3em ;
  background-color: #734a39e4;
  height: 80%;
  width: 36vh;
  border-radius: 15px;
  padding-top: 8px;
  color: white;



}
.icon h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;

}
.icon p{
 color: #fffadac4; 
 font-family: 'Poppins', sans-serif;
 font-weight: 100;
 font-size: 12px;
}

.icone-text{
  text-align: left !important;
  margin-left: 1em;

}
.icon img{
  width: 90%;
  border-radius: 17px;
}
.maps{
  background-color:#E3D9D5;
  height: 60vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brown{
  background-color:#795341;
  height: 90%;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.mapsPic{
  background-image: url(images/image\ 8.png);
  height: 96%;
  width: 98%;
}
